
* {
    box-sizing: border-box;
  }
  
  html, body {
    font-family: "Verdana", Sans-serif;
    font-size: 16px;

    background-color: #ffffff;
    color: black;
    line-height: 1.5;
  }
  
  #navbar {
    height: 100%;
    border-right: 1px solid #373636;
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
  }
  #navbar  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 0;
  }
  #navbar li {
    border-top: 1px solid #373636;
  }
  #navbar a {
    padding: 20px 30px;
    display: block;
    text-decoration: none;
    color: black;
    font-size: 1.12rem;
  }
  
header{
    margin: 20px;
    font-size: 26px;
}
  
  #main-doc {
    margin-left: 310px;
    padding: 20px;
    
  }
  #main-doc header {
    font-size: 30px;
  }
  
  article, p, ul {
    margin: 15px 0;
  }
  
  
  code {
    background-color: #f7f7f7;
    border-radius: 5px;
    padding: 15px;
    margin: 0 15px;
    display: block;
  }
  
  #Data_Types li {
    margin: 10px 0;
  }
  
  @media (min-width: 768px) {
    #navbar {
      width: 300px;
    }
  }